<html>
<head><title>Ürününüz kargoya verildi.</title></head>
<body>
<p>Sipariş #${productId} ${productName} ${price}TL</p>
<p>Kargoya veren: ${shippedUsername}</p>
<p>Kargoya veriliş tarihi: ${shippedDate}</p>
<p>Kargo şirketi: ${carrierName}</p>
<p>Kargo takip numarası: ${trackingCode}</p>
<p>Kargo şirketi websitesi: ${carrierWebsite}</p>
<p>Ödemenizin satıcıya ulaşması için ürünü teslim aldıktan sonra ONAYLAMANIZ gerekmektedir.</p>
<p>Şimdi Digout'a git</p>
<p>Saygılarımızla,</p>
<p>Digout Ekibi.</p>
</body>
</html>