<html>
<head><title></title></head>
<body>
Dear ${fullName},<br/>
<br/>
You have requested to recover your password.<br/>
<br/>
Your email: ${email}<br/>
Your password: ${password}<br/>
<br/>
Please log in using your temporary password and don't forget to change it from menu ><br/>
account setting > change password.<br/>
<br/>
Do not share your password with anyone and please don't hesitate to contact us for any questions / problem.<br/>
<br/>
<a href="${goToDigoutUrl}">Go to Digout now</a>
<br/>
<br/>
Best,<br/>
Digout Team.<br/>
<br/>
</body>
</html>