<html>
<head>
    <title></title>
    <META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=UTF-8">
</head>
<body>
Sevgili ${fullName},<br/>
<br/>
Şifrenin yenilenmesini talep ettin.<br/>
<br/>
e-posta adresin: ${email}<br/>
Şifren: ${password}<br/>
<br/>
Geçici şifrenizle bağlandıktan sonra buradan yeni bir şifre belirleyin <b>menü > hesap ayarları><br/>
şifre değiştir<b/><br/>
<br/>
    Lütfen şifrenizi kimseyle paylaşmayın ve herhangi bir konuda <u>bize danışmaktan çekinmeyin.</u>
<br/>
<br/>
<a href="${goToDigoutUrl}">Şimdi Digout'a git</a>
<br/>
<br/>
Best,<br/>
Digout Team.<br/>
<br/>
</body>
</html>