packages:
    yum:
      mysql: []
commands:
    iptables01:
      command: iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 80 -j REDIRECT --to-port 8080
      cwd: /
    iptables02:
      command: iptables -A PREROUTING -t nat -i eth0 -p tcp --dport 443 -j REDIRECT --to-port 8443
      cwd: /
    swap01:
      command: dd if=/dev/zero of=/swapfile1 bs=1024 count=524288
      cwd: /
    swap02:
      command: chown root:root /swapfile1
      cwd: /
    swap03:
      command: chmod 0600 /swapfile1
      cwd: /
    swap04:
      command: mkswap /swapfile1
      cwd: /
    swap05:
      command: swapon /swapfile1
      cwd: /
    time01:
      command: cp /etc/localtime /etc/localtime.old
      cwd: /
    time02:
      command: rm /etc/localtime
      cwd: /
    time03:
      command: ln -s /usr/share/zoneinfo/Turkey /etc/localtime
      cwd: /
option_settings:
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  Xms
    value:  512m
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  Xmx
    value:  512m
  - namespace:  aws:elasticbeanstalk:container:tomcat:jvmoptions
    option_name:  XX:MaxPermSize
    value:  512m
files:
    "/etc/tomcat6/Catalina/localhost/digout.xml":
        mode: "000644"
        owner: ec2-user
        group: ec2-user
        encoding: plain
        content: |
           <?xml version="1.0" encoding="UTF-8"?>
           <Context>
           <Parameter name="com.digout.config" value="/etc/digout/digout.properties" override="false" />
           <Parameter name="com.digout.logs.dir" value="/var/log/tomcat7/digout" override="false" />
           </Context>
container_commands:
      01-command:
         command: mkdir -p /digout/images/products
      02-command: 
         command: mkdir -p /digout/images/users
      03-command:
         command: chown -R root:tomcat /digout
      04-command:
         command: chmod 775 -R /digout
      05-command:
         command: mkdir -p /etc/digout
      06-command:
         command: cp .ebextensions/digout.properties /etc/digout
      07-command:
         command: cp .ebextensions/digout.xml /tmp
      08-command:
         command: cp .ebextensions/02_pre_tomcat_start.sh /opt/elasticbeanstalk/hooks/appdeploy/post
      09-command:
         command: chmod 775 /opt/elasticbeanstalk/hooks/appdeploy/post/02_pre_tomcat_start.sh
      10-command:
         command: mkdir -p /var/log/tomcat7/digout
      11-command:
         command: chown root:tomcat /var/log/tomcat7/digout/
      12-command:
         command: chmod 775 /var/log/tomcat7/digout/
      13-command:
         command: cp .ebextensions/dbcreate_pretomcat.sh /tmp
      14-command:
         command: chmod 775 /tmp/dbcreate_pretomcat.sh
      15-command:
         command: /tmp/dbcreate_pretomcat.sh >> /var/log/eb-custom.log
         leader_only: true
      16-command:
         command: cp .ebextensions/03_datafeed_posttomcat.sh /opt/elasticbeanstalk/hooks/appdeploy/post
      17-command:
         command: chmod 775 /opt/elasticbeanstalk/hooks/appdeploy/post/03_datafeed_posttomcat.sh
         leader_only: true
      18-command:
         command: cp .ebextensions/query/* /opt/elasticbeanstalk/hooks/appdeploy/post
         leader_only: true
